.user-details{
    width: 25vw;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    text-align: left;
    column-gap: 25px;
    row-gap: 5px;
}

.delete-button{
    background-color: red;
}